body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    width: 100px;
}

.display {
    margin: 10px;
    width: 90px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
}


.keypad {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btn {
    height: 24px;
    width: 24px;
}